<launch>

  <arg name="robot_urdf_location" default="$(find lwr_defs)/robots/kuka_lwr_arm.urdf.xml" />
  <arg name="robot" default="kuka_lwr" />

  <param name="robot_description" 
	 command="$(find xacro)/xacro '$(arg robot_urdf_location)'" />

  <include file="$(find motion_planning)/launch/$(arg robot).launch"/>

  <node pkg="assignment_mp" type="mp.py" name="solution" output="screen" />

</launch>
